.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  width: 65%;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 500px;
  height: 500px;
}

.controlColumn {
}

.perspective {
  position: fixed;
  background: hsl(195deg, 20%, 86%);
  min-height: 40%;
  z-index: -1;
  width: 100%;
  bottom: 0;
}
